{% extends 'base.html' %}

{% block content %}
<h2>
Welcome to Note Exchange!<br><br>
</h2>
<h3>
Our goal is to make life in college easier, through sharing and distributing notes in a way
that both helps students who miss class, and the students who are writing the notes.
<br>
<br>
This site is still in its beta stages, so please email any suggestions to deanjohnson222@gmail.com!<br><br>
</h3>
<br>
<!--
<iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/app"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>
!-->
{% endblock %}
